/*Color Palette:
Black: #030301
Khaki: #b7ad99
Hot Pink: #ff4365
Mint: #00d9c0
Ivory White: #fffff3
*/
* {
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    display:flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
}
a:link {
    color: #fffff3;
    background-color: transparent;
    text-decoration: none;
}
a:visited{
    color: #fffff3;
    background-color: transparent;
    text-decoration: none;
}
a:hover{
    color: #00d9c0;
    background-color:transparent;
    text-decoration: none;
}
a:active{
    color:#fffff3;
    background-color: transparent;
    text-decoration:none;

}
.nav-bar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: black;
    color: #fffff3;
    padding: 0px 15px;
    font-family:'Permanent Marker',serif;
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
}
.nav-bar:hover{
    cursor:pointer;
}
.about-section{
background-color: #b7ad99;
padding: 30px;
}
.learning{
    background-color: #ff4365;
    padding: 30px;
}
.homepage-image{
    background-color: white;
    padding: 200px;
}
.home-alignment{
}
.logo{
    display:flex;
    margin-right:auto;
}
h1{
    margin-top:10px;
    margin-bottom:10px;
}